<?xml version="1.0"?>
<model>
  <name>Standard VTOL with Camera</name>
  <version>1.0</version>
  <sdf version='1.4'>standard_vtol.sdf</sdf>

  <author>
   <name>Kevin</name>
   <email>kevinwhadaway@gmail.com</email>
  </author>

  <description>
    This is a model of a standard VTOL quad plane with a camera mounted underneath.
  </description>
</model>
